<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net451" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net451" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net451" />
</packages>